    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100;
        font-size: 30px;
    }
    
    h2 {
        background-color: #f34b4b;
        /* activar propiedas de inline y de bloque en el componente */
        display: inline-block;
        /* pading - distancia entre el texto y el borde de la caja la caja 
    se divide en left- izq, top - arriba, bottom- abajo, rigth- derecha
    */
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        /* padding : 20px; esta propiedad le da 20 px en todo*/
        /* padding : 20px 10px; esta propiedad le da 20 al top y button y la segunda le da la propiedad al left y al rigth*/
        /* padding : 20px 10px 30px 10px; la primer medida se la da al top, luego rigth, button, left, como las manecillas del reloj*/
        height: 100px;
        width: 200px;
        box-sizing: border-box;
        text-align: center;
        /* margin - distancia entre cajas, igual que pading existe el top, rigth ... */
        margin: 10px;
        /* se separa de todos los lados 10px */
        /* es el borde (redondo)*/
        border-radius: 2em;
        /* tamaño, estilo del borde (el mas usado es solid), color*/
        /* border: 2px solid rgb(84, 84, 228);*/
        /*
        BOX MODEL
        Lo conforman 4 propiedades principales y esta es su jerarquia
        1- content : lo que se tiene dentro de la caja generalmente se modifica con la propiedad line-height: ;
        establece la altura de una casilla remarcada por líneas. Comúnmente se usa para establecer la distancia entre líneas de texto.
        2- padding
        3- border
        4- margin
        */
        /* darle sombra a la caja
        derecha, abajo, difuminacion, borde (generalmente es 0),color
        */
        box-shadow: 10px 10px 10px 0 black;
        /* text shadow es lo mismo pero con el texxto a excepcion de que no tiene borde*/
        text-shadow: 2px 2px 7px black, 2px 2px 7px black;
        /* propiedad transform es por grados*/
        transform: rotate(45deg);
    }
    /* outline, es una  forma de trabajo que reduce el uso de mucho codigo 
.caja1,caja2{
}
y con eso caja 1 y 2 tendrian las mismas propiedades
*/
    
    .caja1 {
        /* width: 200px;
        height: 200px;
        background: red;
        margin: auto;*/
        outline: 5px solid blue;
    }
    /* con margin auto te da las medidas del 50% en todos los lados de la caja y en el centro tu componente*/
    /* si se usa 
    box-sizing: border-box; le da un margen sin respetar el contenido
    y si se usa box-sizing: content-box; respeta el contenido y da el borde hacia afuera del componente
    */
    
    .caja2 {
        width: 120px;
        height: 120px;
        background: yellow;
        /*margin: auto;*/
        /* cada caja tiene un espacio reservado 
        el position relative el espacio se sigue conservando dentro del DOM
        los 20 px del top se quedan, no se alteran
        top y left son las mas importantes en la position
        */
        position: relative;
        top: 20px;
    }
    
    div {
        width: 120px;
        height: 120px;
        /* background: yellow;*/
        display: block;
        top: 20px;
    }
    
    .caja3 {
        background: #f34b4b;
        position: relative;
        top: 60px;
        left: 20px;
    }
    
    .caja4 {
        background: gainsboro;
        /* el z index, pposicion respecto al eje z
        el z index funciona solamente cuando la caja esta posicionada
        si queremos que la caja dibujada anteriormente se vea por arriba de la ultima caja dibujada
        se usa la propiedad
        z-index: 1;
        */
        position: relative;
    }
    /* poner al hijo por debajo del padre
    recordando que el ultimo en ser dibujado es el hijo
    */
    
    .padre {
        width: 300px;
        height: 300px;
        background: blue;
        margin: 40px;
        position: relative;
    }
    
    .hijo {
        background: orange;
        height: 120px;
        width: 120px;
        position: relative;
        top: -340px;
        left: 20px;
        z-index: -1;
    }
    /*position: absolute ;
    el espacio reservado de la caja se pierde y el valor de abajo puede subir
    */
    
    .caja5 {
        background-color: green;
        /*opacity es la transparencia*/
        opacity: 0.2;
        position: absolute;
        top: 0;
    }
    /* el view port es todo lo que se puede ver de la pantalla (HTML)*/
    
    .caja6 {
        background-color: lightblue;
    }